<!--<p id="notice"><%#= notice %></p>-->

<!--<h1>External Travel Logs</h1>-->

<!--<h2>-->
<!--  Total Distance:-->
  <%#= @total_distance %>
<!--</h2>-->

<!--<table>-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th>ID</th>-->
<!--    <th>Purpose</th>-->
<!--    <th>Source</th>-->
<!--    <th>Destination</th>-->
<!--    <th>Distance</th>-->
<!--    <th>user_id</th>-->
<!--    <th>created_at</th>-->
<!--    <th colspan="3"></th>-->
<!--  </tr>-->
<!--  </thead>-->

<!--  <tbody>-->
  <%# @external.each do |travel| %>
<!--    <tr>-->
<!--      <td><%#= travel.id %></td>-->
<!--      <td><%#= travel.purpose %></td>-->
<!--      <td><%#= travel.source %></td>-->
<!--      <td><%#= travel.destination %></td>-->
<!--      <td><%#= travel.distance %></td>-->
<!--      <td><%#= travel.user_id %></td>-->
<!--      <td><%#= travel.created_at %></td>-->
<!--      <td><%#= link_to 'Show', travel %></td>-->
<!--      <td><%#= link_to 'Edit', edit_travel_path(travel) %></td>-->
<!--      <td><%#= link_to 'Destroy', travel, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
<!--    </tr>-->
  <%# end %>
<!--  </tbody>-->
<!--</table>-->

<!--<br>-->

<%= link_to 'New Travel', new_travel_path %>

<%= render 'distance_sum', distance: @total_distance %>

<%= render 'my_travels', my_travels: @external %>
