<div>
  <% if object && object.errors.any? %>
      <h2 class="chip red darken-1 white-text">
        <%= pluralize(object.errors.count, "error") %> prohibited this post from being saved:
      </h2>

      <ul class="collection red-text">
        <% object.errors.full_messages.each do |msg| %>
          <li class="collection-item"><%= msg %></li>
        <% end %>
      </ul>
  <% end %>
</div>